<h1 class="mb-4">Articles</h1>
<div class="row">
    {{ range .Articles }}
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                {{ if .PublishedAt }}
                <h6 class="card-subtitle mb-2 text-muted">
                    <time datetime="{{ .PublishedAt.Format "2006-01-02" }}">
                        {{ .PublishedAt.Format "January 2, 2006" }}
                    </time>
                </h6>
                {{ end }}
                <p class="card-text">{{ truncate .Content 80 }}</p>
                <a href="/article/{{ .Slug }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>
